.header_image {
    background-image: url('../../imgs/background.png');
    background-size: cover;
    max-width: 100%;
    
    background-repeat: no-repeat;
    position: relative;
}

.header_image {
    .fa-angle-left, .fa-angle-right {
       color: $white;
    }
    .fa-circle {
        color: $white;
        opacity: 0.3;
        transition: all 0.3s linear;
    }
}

.header_image span:hover {
    .fa-circle {
        opacity: 1;
        color: $blue;
    }
}

.header_image span {
    position: absolute;
    top: 45%;
}

.header_image span:last-of-type {
    left: 95%;
}

.header_text_expert {
    display: flex;
}

.header_text h1 {
    margin-top: 0;
    padding-top: 100px;
}

.header_text {
    width: 70%;
}

.header_text {
    height: 500px;
    h1 {
        color: $white;
        @include fontCalc(71);
        font-weight: 700;
        line-height: 1.1
    }
    p {
        color: $white;
        @include fontCalc(16);
        font-weight: 300;
        letter-spacing: 0.45px;
        line-height: 1.8;
        padding-bottom: 30px;
    }
}

.header_text_expert {
    width: 180px;
    background: $blue;
    color: $white;
    align-items: center;
    padding: 3px 20px;
    h3 {
        font-family: $source;
        @include fontCalc(16);
        font-weight: 300;
        letter-spacing: 0.45px;
        line-height: 2;
        margin: 0;
    }
}

@media screen and (max-width: 1150px) {
   .header_text h1 {
       @include fontCalc(50);
       padding-top: 10px;
   }
}

@media screen and (max-width: 900px) {
    .header_image span:last-of-type {
        left: 85%;
    }
    .header_image span {
        top: 90%;
    }
}

@media screen and (max-width: 700px) {
   .header_text {
       width: 90%;
       p {
       @include fontCalc(16);
       }
   }
}

@media screen and (max-width: 610px) {
   .header_text {
        text-align: center;
        width: 100%;
        .header_text_expert {
            margin: 0 auto;
        }
        p {
            margin: 0;
        }
   }
}
