a {
    text-decoration: none;
    color: $black;
}

.nav_contact, .nav_contact_links, .business, .business_brand, .business_information, .navigation, .navigation_links, .navigation_search, .navigation_social, .nav_contact_group {
    display: flex;
}
 
.nav_contact_links {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.nav_contact_group {
    justify-content: space-between;
}

.nav_contact {
    justify-content: space-between;
    color: $black;
    background: $navGrey;
}

.secondary_links li:hover a, .secondary_links li:focus a {
    text-decoration: underline;
}

.navigation .navigation_links li:hover {
    border-left: 2px solid $navGrey;
}

.navigation_social li:hover {
    opacity: 0.7;
}

.full_wrapper {
    width: 100%;
    background: $navGrey;
    padding: 20px 0;
}

.dropdown .fa {
    display: none;
    color: $white;
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .nav_contact {
       flex-direction: column;
       .nav_contact_group {
            justify-content: center;
       }
    }
    .business {
        flex-wrap: wrap;
        justify-content: center;
    }
    .business_information {
        flex: 0 0 45%;
        margin-bottom: 20px;
    }

    .business_brand {
        flex: 0 0 100%;
        margin-bottom: 50px;
        order: -2;
        margin: 0;
        margin-bottom: 20px;
        justify-content: center;
    }

    .business_contact {
        margin-top: 30px;
        justify-content: flex-end;
    }

    .business_contact.location {
        text-align: right;
        margin-right: 20px;
        img {
            order: 10;
        }
        .business_information_text {
            margin: 0;
            margin-right: 20px;
        }
    }

   .business_contact.time {
       justify-content: flex-start;
       margin-left: 20px;
   }
   

    .business_consultation {
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        order: -1;
    }

    .dropdown {
        position: relative;
    }

    .dropdown .fa {
        display: block;
    }

    .navigation {
        padding: 20px;
    }

    .navigation_links {
        display: none;
        position: absolute;
        top: 10px;
        left: 0px;
        background: $blue;
        z-index: 1;
        text-align: center;
    }

    .navigation.wrapper {
        .navigation_links {
            li {
                display: block;
                a {
                    padding: 50px;
                    @include fontCalc(30);
                }
            }
        }
    }

    .navigation.wrapper {
        .navigation_links {
            li:hover {
                background: $grey;
            }
        }
    }

    .dropdown:hover .navigation_links,
    .navigation_links:hover .navigation_links {
        display: block;
    }

    .navigation.wrapper {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .nav_contact_links {
        flex-direction: column;
        justify-content: center;
    }

    .secondary_links {
        flex-direction: row;
    }
    .nav_contact_group:first-of-type{
        order: 10;
        margin-top: 10px;
        .nav_contact_links {
            justify-content: center;
        }
    }
    .business_information.location, .business_information.time {
        flex: 0 0 100%;
        margin: 0;
        align-items: center;
        flex-direction: column;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
    .business_contact.location {
        margin-bottom: 15px;
        margin-top: 15px;
    
        img {
            order: 0;
        }
    }

    .phone {
        flex-direction: column;
        align-items: flex-end;
    }

    .email {
        align-items: flex-start;
    }

    .nav_contact_group {
        display: flex;
        flex-direction: row;
    }

    .phone li:last-of-type, .email li:last-of-type {
        visibility: hidden;
    }

    .phone:hover li:last-of-type, .email:hover li:last-of-type {
        visibility: visible;
    }
}

.nav_contact_links li {
    padding: 0 5px;
}

.nav_contact_links img{
    padding-right: 20px;
}

.nav_contact_links--dropdown img {
    padding-right: 10px;
}

.nav_contact_links:nth-of-type(1), .nav_contact_links:nth-of-type(3) {
    margin-right: 20px;
}

.business {
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 20px;
}

.business_brand, .business_information {
    align-items: flex-start;
}

.business_information_text {
    margin-left: 20px;
}

.business_brand_text h1 {
    padding-bottom: 15px;
    padding-top: 5px;
}

.business_information_text h1, .business_information_text h2 {
    margin: 0;
}

.business_brand h1 {
    color: $black2;
    @include fontCalc(32);
    font-weight: 700;
    line-height: 0.81;
    span {
        color: $blue;
    }
}

.business_brand h3 {
    color: $black;
    @include fontCalc(16);
    font-weight: 400;
    letter-spacing: 0.4;
    line-height: 1.6;
}

.business_information:not(.business_brand) h2 {
     
    font-family: $source;
    color: $grey;
    @include fontCalc(18);
    font-weight: 700;
    letter-spacing: 0.45px;
    line-height: 1.4;
}

.business_information:not(.business_brand) h3 {
        color: $black;
        @include fontCalc(16);
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.6;
}

.business_information h3 {
        margin: 5px 0;
}

.business_consultation h2 {
    font-family: $source;
    color: $blue;
    @include fontCalc(16);
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.6;
    text-transform: uppercase;
    padding: 15px;
    border: 3px solid $blue;
    text-align: center;
    margin: 0;
}

.navigation {
    background: $blue;
    margin-top: 20px;
    justify-content: space-around;
}



.navigation_links a {
    color: $white;
    @include fontCalc(18);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    line-height: 1.6;
    padding-left: 5px;
    margin: 0;
}

.navigation_links li:last-of-type a {
    text-transform: capitalize;
}

.navigation_links {
    justify-content: space-between;
    padding: 0;
    li:not(.navigation_links_contact) {
        margin-right: 30px;
    }
    padding: 15px 0px;
}

.navigation_search {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    img {
        margin-right: 30px;
    }
    .fa {
        color: $white;
        @include fontCalc(18);
    }
}

.navigation_search_image {
    position: relative;
    span {
        position: absolute;
        top: 20px;
        left: 10px;
        background: $blue2;
        color: $white;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        text-align: center;
        @include fontCalc(16);
        line-height: 1.6;
    }
}

.navigation_social {
    border-left: 1px solid $blue3;
    margin: 0;
    align-items: center;
    a {
    color: $white;
    @include fontCalc(17);
    line-height: 1.6;
    justify-content: space-between;
    }
    li:not(:last-of-type) {
        margin-right: 15px;
    }
}




