nav, .nav_contact {
    // border: 1px solid red;
}

a {
    text-decoration: none;
    color: $black;
}

.nav_contact, .nav_contact_links, .business, .business_brand, .business_information, .navigation, .navigation_links, .navigation_search, .navigation_social, .nav_contact_group {
    display: flex;
}
 
.nav_contact_links {
    justify-content: space-between;
    align-items: center;
    // border: 1px solid pink;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.nav_contact_group {
    justify-content: space-between;
}

.nav_contact {
    justify-content: space-between;
    // @include fontSize(16px);
    color: $black;
}

.dropdown .fa {
    display: none;
    color: $white;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .nav_contact {
       flex-direction: column;
       .nav_contact_group {
            justify-content: center;
       }
    }
    .business {
        flex-wrap: wrap;
        justify-content: center;
        // border: 1px solid red;
    }
    .business_information {
        flex: 0 0 50%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .business_brand {
        flex: 0 0 100%;
        margin-bottom: 50px;
        order: -2;
    }

    .business_consultation {
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        order: -1;
    }

    .dropdown {
        position: relative;
    }

    .dropdown .fa {
        display: block;
    }

    .navigation {
        padding: 20px;
    }

    .navigation_links {
        display: none;
        position: absolute;
        background: $blue;
        // min-width: 40px;
        z-index: 1;
        text-align: center;
    }

    .navigation-links li {
        display: block;
        padding: 10px;
    }

    .dropdown:hover .navigation_links {
        display: block;
    }
}

.nav_contact_links li {
    padding: 0 5px;
}

.nav_contact_links img{
    padding-right: 20px;
}

.nav_contact_links--dropdown img {
    padding-right: 10px;
}

.nav_contact_links:nth-of-type(1), .nav_contact_links:nth-of-type(3) {
    margin-right: 20px;
}

.business {
    justify-content: space-between;
    padding-top: 20px;
}

.business_brand, .business_information {
    align-items: flex-start;
}

.business_information_text {
    margin-left: 20px;
}

.business_brand_text h1 {
    padding-bottom: 15px;
    padding-top: 5px;
}

.business_information_text h1, .business_information_text h2 {
    margin: 0;
}

.business_brand h1 {
    color: $black2;
    @include fontCalc(32);
    font-weight: 700;
    line-height: 0.81;
    span {
        color: $blue;
    }
}

.business_brand h3 {
    color: $black;
    @include fontCalc(16);
    font-weight: 400;
    letter-spacing: 0.4;
    line-height: 1.6;
}

.business_information:not(.business_brand) h2 {
     
    font-family: $source;
    color: $grey;
    @include fontCalc(18);
    font-weight: 700;
    letter-spacing: 0.45px;
    line-height: 1.4;
}

.business_information:not(.business_brand) h3 {
        color: $black;
        @include fontCalc(16);
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.6;
}

.business_information h3 {
        margin: 5px 0;
}

.business_consultation h2 {
    font-family: $source;
    color: $blue;
    @include fontCalc(16);
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.6;
    text-transform: uppercase;
    padding: 15px;
    border: 3px solid $blue;
    text-align: center;
    margin: 0;
}

.navigation {
    background: $blue;
    margin-top: 20px;
    justify-content: space-around;
}



.navigation_links a {
    color: $white;
    @include fontCalc(18);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    line-height: 1.6;
    // border: 1px solid yellow;
    padding: 0;
    margin: 0;
}

.navigation_links li:last-of-type a {
    text-transform: capitalize;
}

.navigation_links {
    // border: 1px solid red;
    justify-content: space-between;
    padding: 0;
    li:not(.navigation_links_contact) {
        margin-right: 10px;
    }
    padding: 20px 0px;
}

.navigation_search {
    align-items: center;
    // border: 1px solid red;
    justify-content: space-between;
    padding: 0;
    img {
        margin-right: 30px;
    }
    .fa {
        color: $white;
        @include fontCalc(18);
    }
}

.navigation_search_image {
    position: relative;
    span {
        position: absolute;
        top: 20px;
        left: 10px;
        background: $blue2;
        color: $white;
        // border: 5px solid $blue2;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        text-align: center;
        // padding: 50%;
        @include fontCalc(16);
        line-height: 1.6;
    }
}

.navigation_social {
    // padding: 0;
    // padding-right: 20px;
    border-left: 1px solid $blue3;
    margin: 0;
    color: $white;
    @include fontCalc(17);
    line-height: 1.6;
    justify-content: space-between;
    align-items: center;
    li:not(:last-of-type) {
        margin-right: 10px;
    }
}




