$black: rgba(0, 0, 0, 0.7);
$black2: #272626;
$black3: #202020;
$black4: #000000;
$black5: #1f2329;
$blue: #2f87fd;
$blue2: #2d71cd;
$blue3: #5499f7;
$grey: rgba(39, 39, 39, 0.7);
$aboutAside: #f6f6f6;
$white: #ffffff;
$white2: #eae8e8;
$midFooter: #313030;
$footerGrey: #403f3f;
$grey2: rgba(159, 159, 159, 0.7);
$grey3: #2e2d2d;
$grey4: #605d5d;
$grey5: #545454;
$grey6: #f5f4f4;


$playfair:'Playfair Display', serif;
$source: 'Source Sans Pro', sans-serif;
$poppins: 'Poppins', sans-serif;